body {
    background-image: url(../img/map.jpg);
    height: 100%;
    width: 100%;
}

#car {
    background-image: url(../img/car.png);
    background-size: 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 30px;
    position: absolute;
    top: 300px;
    left: 200px;
}

.car {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: rotate 1s linear;
}

.car-transition{
    transition: transform 1s ease;
}

.car-to-final{
    transform: rotate(360deg);
}

.car-to-right {
    transform: rotate(180deg);
}

.car-to-left {
    transform: rotate(0deg);
}

.car-to-top {
    transform: rotate(90deg);
}

.car-to-bottom {
    transform: rotate(270deg);
}





/*car-to-final{
    transform: rotate(-360deg);
}*/

/*.car-to-right-reverse {
    transform: rotate(-180deg);
}

.car-to-top-reverse {
    transform: rotate(-270deg);
}*/

.car-to-bottom-reverse {
    transform: rotate(-90deg);
}
